<div class="container">
<h3><% settings.appname %></h3>
</div>

<div class="container">
    <div class="btn-group-vertical">
    <a class="btn btn-default" href="/settings" role="button">Settings</a>
    <a class="btn btn-default" href="/list" role="button">List</a>
    </div>
</div>
